<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.i432kg.footprint.infrastructure.datasource.mapper.query.PostQueryMapper">

    <!-- マッピング定義 -->
    <resultMap id="PostSummaryResultMap" type="jp.i432kg.footprint.application.query.model.PostSummary">
        <id property="id" column="post_id"/>
        <result property="caption" column="caption"/>
        <result property="hasLocation" column="has_location"/>
        <result property="createdAt" column="created_at"/>
        <association property="location" javaType="jp.i432kg.footprint.application.query.model.LocationSummary">
            <result property="lat" column="latitude"/>
            <result property="lng" column="longitude"/>
        </association>
        <collection property="images" ofType="jp.i432kg.footprint.application.query.model.ImageSummary">
            <id property="id" column="image_id"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="storageType" column="image_storage_type"/>
            <result property="objectKey" column="image_object_key"/>
            <result property="fileExtension" column="file_extension"/>
            <result property="sizeBytes" column="size_bytes"/>
            <result property="width" column="width"/>
            <result property="height" column="height"/>
        </collection>
    </resultMap>

    <select id="findPostById" resultMap="PostSummaryResultMap">
        SELECT p.public_id   AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id   AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.public_id = #{postId}
    </select>

    <select id="findRecentPostsFirstPage" resultMap="PostSummaryResultMap">
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findRecentPostsAfterCursor" resultMap="PostSummaryResultMap">
        WITH cursor_post AS (
            SELECT created_at, id
            FROM posts
            WHERE public_id = #{lastId.value}
        )
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 CROSS JOIN cursor_post c
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.created_at &lt; c.created_at
           OR (p.created_at = c.created_at AND p.id &lt; c.id)
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findMyPostsFirstPage" resultMap="PostSummaryResultMap">
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.user_id = #{userId}
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findMyPostsAfterCursor" resultMap="PostSummaryResultMap">
        WITH cursor_post AS (
            SELECT created_at, id
            FROM posts
            WHERE public_id = #{lastId.value}
        )
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 CROSS JOIN cursor_post c
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.user_id = #{userId}
          AND (
              p.created_at &lt; c.created_at
              OR (p.created_at = c.created_at AND p.id &lt; c.id)
          )
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findPostsByKeywordFirstPage" resultMap="PostSummaryResultMap">
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.caption LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findPostsByKeywordAfterCursor" resultMap="PostSummaryResultMap">
        WITH cursor_post AS (
            SELECT created_at, id
            FROM posts
            WHERE public_id = #{lastId.value}
        )
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 CROSS JOIN cursor_post c
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.caption LIKE CONCAT('%', #{keyword}, '%')
          AND (
              p.created_at &lt; c.created_at
              OR (p.created_at = c.created_at AND p.id &lt; c.id)
          )
        ORDER BY p.created_at DESC, p.id DESC
        LIMIT #{size}
    </select>

    <select id="findPostsByBBox" resultMap="PostSummaryResultMap">
        SELECT p.public_id AS post_id,
               p.caption,
               p.has_location,
               p.latitude,
               p.longitude,
               p.created_at,
               i.id AS image_id,
               i.sort_order,
               i.storage_type AS image_storage_type,
               i.object_key AS image_object_key,
               i.file_extension,
               i.size_bytes,
               i.width,
               i.height
        FROM posts p
                 LEFT JOIN post_images i ON p.public_id = i.post_id
        WHERE p.has_location = true
          AND p.latitude BETWEEN #{boundingBox.minLat} AND #{boundingBox.maxLat}
          AND p.longitude BETWEEN #{boundingBox.minLng} AND #{boundingBox.maxLng}
        ORDER BY p.created_at DESC, p.id DESC
    </select>

</mapper>
