<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.i432kg.footprint.infrastructure.datasource.mapper.query.ReplyQueryMapper">

    <!-- マッピング定義 -->
    <resultMap id="ReplySummaryResultMap" type="jp.i432kg.footprint.application.query.model.ReplySummary">
        <id property="id" column="public_id"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
        <result property="parentReplyId" column="parent_id"/>
        <result property="message" column="message"/>
        <result property="childCount" column="child_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findTopLevelRepliesByPostId" resultMap="ReplySummaryResultMap">
        SELECT public_id,
               post_id,
               user_id,
               parent_id,
               message,
               child_count,
               created_at
        FROM replies
        WHERE post_id = #{postId}
          AND parent_id IS NULL
    </select>

    <select id="findNestedRepliesByParentId" resultMap="ReplySummaryResultMap">
        SELECT public_id,
               post_id,
               user_id,
               parent_id,
               message,
               child_count,
               created_at
        FROM replies
        WHERE parent_id = #{parentReplyId}
    </select>

    <select id="findMyReplies" resultMap="ReplySummaryResultMap">
        SELECT public_id,
        post_id,
        user_id,
        parent_id,
        message,
        child_count,
        created_at
        FROM replies
        <where>
            AND user_id = #{userId}
            <if test="lastId != null">
                AND created_at &lt; (SELECT created_at FROM replies WHERE public_id = #{lastId.value})
            </if>
        </where>
        ORDER BY created_at DESC, id DESC
        LIMIT #{size}
    </select>

</mapper>