<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.i432kg.footprint.infrastructure.datasource.mapper.repository.PostMapper">

    <select id="countByPostId" resultType="int">
        SELECT COUNT(*)
        FROM posts
        WHERE public_id = #{postId}
    </select>

    <insert id="insertPosts" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (public_id, user_id, caption, has_location, latitude, longitude, taken_at, created_at,
                           updated_at)
        VALUES (#{postId}, #{userId}, #{caption}, #{hasLocation}, #{latitude}, #{longitude}, #{takenAt}, #{createdAt},
                #{updatedAt})
    </insert>

    <insert id="insertPostImages" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_images (post_id, sort_order, storage_type, object_key, file_extension, size_bytes,
                                 exif_available,
                                 created_at)
        VALUES (#{postId}, #{sortOrder}, #{storageType}, #{objectKey}, #{fileExtension}, #{sizeBytes}, #{exifAvailable},
                #{createdAt})
    </insert>

</mapper>