<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.i432kg.footprint.infrastructure.datasource.mapper.repository.ReplyMapper">

    <resultMap id="ReplyResultMap" type="jp.i432kg.footprint.infrastructure.datasource.mapper.repository.ReplyMapper$ReplyResultEntity">
        <constructor>
            <arg column="public_id" javaType="jp.i432kg.footprint.domain.value.ReplyId"/>
            <arg column="post_id" javaType="jp.i432kg.footprint.domain.value.PostId"/>
            <arg column="user_id" javaType="jp.i432kg.footprint.domain.value.UserId"/>
            <arg column="parent_id" javaType="jp.i432kg.footprint.domain.value.ReplyId"/>
            <arg column="message" javaType="jp.i432kg.footprint.domain.value.ReplyComment"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="findReplyById" resultMap="ReplyResultMap">
        SELECT public_id,
               post_id,
               user_id,
               parent_id,
               message,
               created_at
        FROM replies
        WHERE public_id = #{replyId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO replies (public_id,
                             post_id,
                             user_id,
                             parent_id,
                             message,
                             child_count,
                             created_at,
                             updated_at)
        VALUES (#{replyId},
                #{postId},
                #{userId},
                #{parentReplyId},
                #{message},
                #{childCount},
                #{createdAt},
                #{updatedAt})
    </insert>

    <update id="incrementChildCount">
        UPDATE
            replies
        SET child_count = child_count + 1
        WHERE public_id = #{id}
    </update>

</mapper>
